body {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-left: 240px;
    padding-right: 240px;
    margin: 0;
}

.toolbar {
    height: 50px !important;
}

.sidebar {
    top: 50px;
    padding-top: 10px;
    position: fixed;
    width: 240px;
}

#toc-container {
    padding-left: 5px;
    padding-right: 20px;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 5000;
    border-right: 1px solid #ddd;
    overflow: auto;
}

#directory-container {
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 5000;
    padding-right: 5px;
    overflow-y: scroll;
}

#directory-container>.mdui-card {
    border-left: 0.5px solid #ddd;
}

#main-container {
    margin: 0 auto;
    margin-top: 50px;
    /* background-color: lightgreen; */
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    max-width: 1000px;
}

@media (max-width: 1024px) {
    .sidebar {
        width: 0px;
        visibility: hidden;
    }
    /* #main-container {
        width: 100%;
    } */
    body {
        padding: 0;
    }
}

img {
    max-width: 100%;
}

.card-icon-element {
    margin: 0 auto;
    width: 36px;
}

#tag-content>div a {
    text-align: center;
    font-family: Monaco;
    line-height: 20px;
    font-weight: bold;
    color: #3F51B5;
    padding-left: 20px;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

#directory-container::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

#directory-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/


/* 
#directory-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-color: #3F51B5;
} */


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-color: rgb(51, 155, 112);
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 13px;
}