html, body {
  margin: 0;
  padding: 0;
  /* max-height: 100%; */
  background-color: #f2f4f8;
}

body {
  /* 解决侧边滑动引起界面抖动 */
  overflow-y: scroll;
}

/*::-webkit-scrollbar {*/

/*    width: 0px!important;*/

/*}*/

#root {
  height: 100%;
}

.mjx-chtml {
  color: rgb(59, 65, 79);
}